$beige:#cec0af;
$darkblue:#242e35;
$lightblue:#2e02d0;
$pink:#f0cad5;

$gray:        #3B4442;
$white:       #1B2020;
$gray:        #2A3331;
$gray: $darkblue;
$green:       #a6e3a1;
$yellow:      #f9e2af;
$blue:        #89b4fa;
$purple:      #cba6f7;



$bg : #11111b;
$fg : #ffffff;
$border : #cec0af;

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font Mono, Sans-serif;
}

.background {
  background-color: transparent;
}

.container {
  background-color: #{$bg};
  color: #{$fg};
  border-radius: 1rem;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.musiccontainer {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.header {
  font-size: 30px;
}

.body {
  font-size: 20px;
}

.progress  {
  margin: 1rem;
  border-radius:1rem;
  min-height: 10px;
}


.bluescale {color: #{$blue};}
.greenscale {color: #{$green};}
.yellowscale {color: #{$yellow};}

.progress scale trough highlight { border-radius: 10px; }
.bluescale scale trough highlight {background-color: #{$blue};}
.greenscale scale trough highlight {background-color: #{$green};}
.yellowscale scale trough highlight {background-color: #{$yellow};}
.purplescale scale trough highlight {background-color: #{$purple};}


.progress scale trough,
{
  background-color: $gray;
  border-radius: 10px;
  min-height: 20px;
  min-width: 135px;
  margin-left: 20px;
}

// music bar

.musicprogress  {
  margin: 1rem;
  border-radius:1rem;
  min-height: 10px;
}
.musicprogress scale trough highlight { border-radius: 10px; }

.musicprogress scale trough,
{
  background-color: $gray;
  border-radius: 10px;
  min-height: 20px;
  min-width: 500px;
  margin-left: 20px;
}

.music {
  margin: 1rem;
  padding: 1rem;
  background-color: #{$darkblue};
  border-radius:2rem;
  border: 5px solid #{$border};
  font-size: 20px;
}

.musicsel {
  padding: 0.1rem;
  //background-color: #{$darkblue};
  border-radius:2rem;
  font-size: 50px;
}

// bar

.box {
  margin: 10px;
}

.launch {
  margin: 0.5rem;
  margin-left:2rem;
  margin-right:2rem;
  border-radius:5px;
  font-size: 40px;
  color: black;
  background-color: $beige;
}

.launch:hover {
  background-color: $darkblue;
  color: white;
  border-radius: 5px;
}

.launch .launchbutton:checked {
  background-color: $darkblue;
  color: white;
  border-radius: 5px;
}

.launchbutton {
  padding: 0.1rem;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

// ad-hoc stuff

.mt-20 {
  margin-top: 20px;
}
